@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple global overrides */
html, body, #__next {
  height: 100%;
}
body {
  @apply bg-white text-slate-800 leading-relaxed;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}